* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;;
}

body {
    background-color: rgb(189, 223, 255);
}

.wrapper {
    max-width: 50vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

ul {
    list-style: none;
}

.slideRules {
    background-color: rgb(0, 134, 206);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    cursor: pointer;
    user-select: none;
    width: 40vw;
}

.answer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

#inputTask1 {
    border: none;
    border-bottom: 2px solid rgb(162, 15, 15);
    outline: none;
    padding: 5px 0;
    margin-right: 5px;
}

#btnTask1 {
    background-color: rgb(162, 15, 15);
    color: #fff;
    padding: 5.5px 10px;
    border: none;
}

a {
    text-decoration: none;
    color: #fff;
}

#nextTask {
    background-color: rgb(113, 7, 7);
    padding: 6px 10px;
    display: none;
}

.taskProgress, .TimeProgress {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
}

.TimeProgress {
    left: 50px;
    top: 50px;
}

.taskProgress {
    right: 50px;
    top: 50px;
}

.answer, .sound {
    display: none;
}

#start {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: rgb(0, 134, 206);
    cursor: pointer;
    color: #fff;
}

.gameBoard {
    width: 100%;
    gap: 5px;
    display: none;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 100px);
}

.card {
    background-color: #fff;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    transform-style: preserve-3d;
}

.front {
    background-color: rgb(53, 216, 8);
    position: absolute;
    backface-visibility: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    font-weight: bold;
}

.back {
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.card img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
}

.flip {
    transform: rotateY(180deg);
}